* {
    box-sizing: border-box;
}

/* top-container div holds the entire navbar */

.top-container {
    background-color: #ffffff;
    height: 81px;
    border-bottom: #cccccc solid 3px;
}

/* The top-centering div holds the contents of the navbar to be centered */

.top-centering {
    width: 960px;
    height: 100%;
    margin-left: 6%;
}

/* body-container div holds the entire content of the body, between the navbar and the footer */

.body-container {
    background-image: url("../images/intersection.png");
    background-repeat: repeat;
    min-height: 78%;
    overflow: auto;
}

/* The bodycentering div holds the two panels in the body - the main panel
on the left, and the "Connect With Me" panel on the right */

.bodycentering {
    width: 960px;
    margin-left: 6%;
    margin-top: 20px;
    height: 100%;
    overflow: auto;
}

/* This prevents the browser from auto-adding margin and padding */

html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

/* The name ID applies to the div holding the left portion of the navbar,
the link to index.html, "Daniel Sullivan" */

#name {
    background-color: #4aaaa5;
    color: white;
    height: 100%;
    font-family: 'Georgia', Times, Times New Roman, serif;
    padding: 0px 30px;
    float: left;
}

/* The navigation ID applies to the div that holds the three links
at the right side of the navbar */

#navigation {
    padding-top: 27px;
    float: right;
    font-family: 'Georgia', Times, Times New Roman, serif;
    color: darkgrey;
}

/* This ID is applied to the main panel div on the left side of the page -
About Me/Contact/Portfolio */

#main-text-panel {
    float: left;
    width: 650px;
    background-color: #ffffff;
    border: #cccccc solid 1px;
    padding: 20px;
    margin-bottom: 20px;
    overflow: auto;
}

/* This class contains the styling for the title of the main-text-panel -
About Me/Contact/Portfolio */

.contenttitle {
    margin-top: 0px;
    color: #4aaaa5;
    font-size: xx-large;
}

/* This styling is meant to mimic the standard HTML horizontal rule, just with different coloring
It appears below the title of the main-text-panel - About Me/Contact/Portfolio  */

.divhrdark {
    width: 100%;
    height: 1px;
    background-color: #999;
    margin-bottom: 29px;
}

/* This ID is applied to the "Connect With Me" panel on the right side of the page */

#connectwithme {
    height: 200px;
    width: 270px;
    background-color: #ffffff;
    margin-left: 3%;
    float: right;
    border: #cccccc solid 1px;
    padding: 20px;
}

/* This class is applied to the title of the "Connect With Me" panel */

.connecttitle {
    font-size: x-large;
    margin-top: 0px;
    color: #4aaaa5;
}

/* This styling is meant to mimic the standard HTML horizontal rule, just with different coloring
It appears below the title of the "Connect with Me" panel on the right side of every page  */

.divhrlight {
    width: 100%;
    height: 1px;
    background-color: lightgrey;
}


/* This holds all the styling/dimensions for the footer of the three pages */

footer {
    background-color: #666666;
    height: 75px;
    color: white;
    text-align: center;
    padding-top: 25px;
    border-top: #4aaaa5 solid 5px;
}

/* Ensures all paragraph text on the page is the same color and font */

p {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* This ensures there's no browser-specific margin added to the top of <h> elements */

h {
    margin-top: 0px;
}

/* This class is applied to the img tags for the LinkedIn/GitHub/StackOverflow
icons in the "Connect With Me" panel */

.icon {
    margin: 20px 5px 0px;
}

/* This class is applied to the wrapper div around the three icons in the
"Connect With Me" panel - to center the three icons within the panel */

.iconsdiv {
    text-align: center;
    width: 210px;
    height: 100px;
    margin: 0 auto;
}

/* This class is applied to the About Me, Portfolio, and Contact links in the header */

.headerlink {
    color: darkgrey;
    text-decoration: none;
}

/* Forces all images to float left */

img {
    float: left;
    margin: 20px;
}

/* This dictates the sizing of the portfolio images */

.portfolio-img {
    width: 250px;
    height: 208px;
}

/* Specific styling for the headshot image that appears in the left body panel
on the About Me page */

.headshot {
    margin: 0px 17px 10px 0px;
}

/* Specific styling for the text in the left body panel on the 
About Me page */

.aboutmetext {
    margin-top: -6px;
    line-height: 183%;
}

/* Class applied to clear the float so that items floated left stack on top of each other */

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* This is applied to the wrapper divs that surround each individual image/link in the
left body panel on the Portfolio page */

.imgcontainer {
    position: relative;
    text-align: center;
    width: 290px;
    height: 248px;
    float: left;
}

/* This class is applied to the div that holds the text that is superimposed over the
images in the left body panel on the Portfolio page */

.center {
    position: absolute;
    top: 72%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 250px;
    background-color: #4aaaa5;
    padding: 15px 0px;
    font-size: 132%;
    color: white;
}

/* This is styling for the text that appears in the left body panel
on the Contact page */

.formtext {
    color: #777777;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
}

/* This class is applied to the <input> tags for the form on the Contact page,
so that the fields span the full width of left body panel */

.fullwidth {
    width: 100%;
}

/* This is styling for the "Submit" button on the Contact Me page */

.submit {
    background-color: #4aaaa5;
    padding: 10px 20px;
    border: 0;
    color: white;
    margin-top: 10px;
    font-size: 93%;
}

/* The following are browser-width-specific instructions to make all three pages responsive */

@media screen and (max-width: 980px) {
    
    .top-centering {
        width: 80%;
        height: 100%;
        margin: 0 auto;
    }
    
    .bodycentering {
        width: 80%;
        margin-left: 6%;
        height: 100%;
        overflow: auto;
        margin: 20px auto 0;
    }

    #main-text-panel {
        float: left;
        width: 50%;
        background-color: #ffffff;
        border: #cccccc solid 1px;
        padding: 20px;
    }

    #connectwithme {
        height: 200px;
        width: 270px;
        background-color: #ffffff;
        margin-left: 3%;
        float: right;
        border: #cccccc solid 1px;
        padding: 20px;
    }

    .imgcontainer {
        position: relative;
        text-align: center;
        width: 290px;
        height: 248px;
        float: none;
        margin: 0 auto;
    }
}

@media screen and (max-width: 768px) {
        
    .top-centering {
        width: 95%;
        height: 100%;
        margin: 0 auto;
    }
    
    .bodycentering {
        width: 95%;
        margin-left: 6%;
        height: 100%;
        overflow: auto;
        margin: 20px auto 0;
    }

    #main-text-panel {
        float: left;
        width: 100%;
        background-color: #ffffff;
        border: #cccccc solid 1px;
        padding: 20px;
    }

    #connectwithme {
        height: 200px;
        width: 100%;
        background-color: #ffffff;
        float: left;
        border: #cccccc solid 1px;
        padding: 20px;
        clear: left;
        margin: 0 0 20px 0;
    }
    
    .imgcontainer {
        position: relative;
        text-align: center;
        width: 290px;
        height: 248px;
        float: left;
        margin: 0 auto;
    }

    .iconsdiv {
        float: left;
    }

}

@media screen and (max-width: 640px) {
   
    .top-container {
        background-color: #ffffff;
        height: 140px;
        border-bottom: #cccccc solid 3px;
        overflow: auto;
    }

    .top-centering {
        width: 100%;
        height: 100%;
        margin: 0 auto;
    }
    
    .bodycentering {
        width: 95%;
        margin-left: 6%;
        height: 100%;
        overflow: auto;
        margin: 20px auto 0;
    }

    #main-text-panel {
        float: left;
        width: 100%;
        background-color: #ffffff;
        border: #cccccc solid 1px;
        padding: 20px;
    }

    #main-text-panel {
        float: left;
        width: 100%;
        background-color: #ffffff;
        border: #cccccc solid 1px;
        padding: 20px;
    }

    #connectwithme {
        height: 200px;
        width: 100%;
        background-color: #ffffff;
        float: left;
        border: #cccccc solid 1px;
        padding: 20px;
        clear: left;
        margin: 0 0 20px 0;
        }

    #name {
        background-color: #4aaaa5;
        color: white;
        height: 80px;
        font-family: 'Georgia', Times, Times New Roman, serif;
        padding: 0px 30px;
        width: 100%;
        text-align: center;
    }
    
    #navigation {
        padding-top: 19px;
        float: left;
        font-family: 'Georgia', Times, Times New Roman, serif;
        color: darkgrey;
        clear: left;
        width: 100%;
        height: 60px;
        text-align: center;
        word-spacing: 13px;
    }

    .imgcontainer {
        position: relative;
        text-align: center;
        width: 290px;
        height: 248px;
        float: none;
        margin: 0 auto;
    }

    .iconsdiv {
        float: left;
    }

}